In [31]:
import pandas as pd

In [12]:
# We load Google stock data in a DataFrame
Google_stock = pd.read_csv('./goog-1.csv')

# We print some information about Google_stock
print('Google_stock is of type:', type(Google_stock))
print('Google_stock has shape:', Google_stock.shape)

Google_stock is of type: <class 'pandas.core.frame.DataFrame'>
Google_stock has shape: (3313, 7)

In [15]:
Google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
5,2004-08-26,52.135906,53.626213,51.991844,53.606342,53.606342,7148200
6,2004-08-27,53.700729,53.959049,52.503513,52.732029,52.732029,6258300
7,2004-08-30,52.299839,52.404160,50.675404,50.675404,50.675404,5235700
8,2004-08-31,50.819469,51.519913,50.749920,50.854240,50.854240,4954800
9,2004-09-01,51.018177,51.152302,49.512966,49.801090,49.801090,9206800
10,2004-09-02,49.274517,50.854240,49.150326,50.427021,50.427021,15232100
11,2004-09-03,50.148830,50.541279,49.339096,49.681866,49.681866,5191000
12,2004-09-07,50.178635,50.670437,49.483158,50.461796,50.461796,5891300
13,2004-09-08,50.044510,51.182110,49.925285,50.819469,50.819469,5023000
14,2004-09-09,50.933723,51.023144,50.173668,50.824436,50.824436,4092100
15,2004-09-10,50.471729,52.935703,50.322701,52.324677,52.324677,8764200
16,2004-09-13,52.970478,53.854729,52.886028,53.402668,53.402668,7902900
17,2004-09-14,53.377831,55.638126,53.049961,55.384777,55.384777,10910200
18,2004-09-15,54.922779,56.745922,54.743942,55.638126,55.638126,10793500
19,2004-09-16,55.807030,57.525848,55.464260,56.616764,56.616764,9335800
20,2004-09-17,56.840309,58.365391,56.408119,58.365391,58.365391,9543500
21,2004-09-20,58.097134,60.407108,58.007717,59.294346,59.294346,10708500
22,2004-09-21,59.517895,59.820923,58.375324,58.539257,58.539257,7282900
23,2004-09-22,58.320679,59.448345,58.027588,58.807514,58.807514,7638000
24,2004-09-23,59.036026,60.918781,58.131908,60.019630,60.019630,8599600
25,2004-09-24,60.079243,61.649033,59.493053,59.527828,59.527828,9191900
26,2004-09-27,59.393700,60.049435,58.519386,58.747902,58.747902,7119100
27,2004-09-28,60.258080,63.288372,59.716602,63.020115,63.020115,17056100
28,2004-09-29,62.940632,67.073753,62.707150,65.116478,65.116478,30745600
29,2004-09-30,64.530296,65.722542,64.083199,64.381264,64.381264,13861300
...,...,...,...,...,...,...,...
3283,2017-09-01,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,2017-09-05,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,2017-09-06,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,2017-09-07,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,2017-09-08,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,2017-09-11,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,2017-09-12,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,2017-09-13,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,2017-09-14,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,2017-09-15,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,2017-09-18,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,2017-09-19,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,2017-09-20,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,2017-09-21,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,2017-09-22,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,2017-09-25,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,2017-09-26,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,2017-09-27,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,2017-09-28,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,2017-09-29,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,2017-10-02,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,2017-10-03,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,2017-10-04,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,2017-10-05,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,2017-10-06,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [18]:
Google_stock.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [20]:
Google_stock.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [22]:
# We get descriptive statistics on our stock data
Google_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [24]:
Google_stock['Adj Close'].describe()

count    3313.000000
mean      380.072458
std       223.853780
min        49.681866
25%       226.407440
50%       293.029114
75%       536.690002
max       989.679993
Name: Adj Close, dtype: float64

In [26]:
# We print information about our DataFrame  
print()
print('Maximum values of each column:\n', Google_stock.max())
print()
print('Minimum Close value:', Google_stock['Close'].min())
print()
print('Average value of each column:\n', Google_stock.mean())

Maximum values of each column:
 Date         2017-10-13
Open                992
High             997.21
Low                 989
Close            989.68
Adj Close        989.68
Volume         82768100
dtype: object

Minimum Close value: 49.681866

Average value of each column:
 Open         3.801861e+02
High         3.834937e+02
Low          3.765193e+02
Close        3.800725e+02
Adj Close    3.800725e+02
Volume       8.038476e+06
dtype: float64

In [33]:
# We display the correlation between columns
Google_stock.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

In [32]:
# We display the total amount of money spent in salaries each year
# data.groupby(['Year'])['Salary'].sum()
# We display the total salary each employee received in all the years they worked for the company
# data.groupby(['Name'])['Salary'].sum()

NameError: name 'data' is not defined